<div class="newCont">
    <div class="split left">
        <div class="centered">
            <div class="center column " style="margin-top: 30%;">
                <h1 class="head center">Covid Stuff</h1>
                <form form [formGroup]="form">
                    <form>
                        <p>How would you prefer to work?</p>
                        <div class="form-check">
                            <input formControlName="Sairme" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                        From Sairme Office
                    </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="Home" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                        From Home
                    </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="Hybrid" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            <label class="form-check-label" for="flexRadioDefault3">
                        Hybrid
                    </label>
                        </div>
                    </form>
                    <br>
                    <br>
                    <form>
                        <p>Did you contact covid 19? :(</p>
                        <div class="form-check">
                            <input formControlName="covidYes" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                            <label class="form-check-label" for="flexRadioDefault4">
                            Yes
                        </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="covidNo" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                            <label class="form-check-label" for="flexRadioDefault5">
                            No
                        </label>
                        </div>

                    </form>
                    <br>
                    <br>
                    <p>When ?</p>
                    <input formControlName="covidWhen" class="input" type="date" id="when " name="when” ">
                    <br>
                    <br>
                    <br>
                    <form>
                        <p>Have you been vaccinated?</p>
                        <div class="form-check">
                            <input formControlName="vaccYes" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6">
                            <label class="form-check-label" for="flexRadioDefault6">
                            Yes
                        </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="vaccNo" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7">
                            <label class="form-check-label" for="flexRadioDefault7">
                            No
                        </label>
                        </div>
                    </form>
                    <br>
                    <br>
                    <p>When did you get your last covid vaccine?</p>
                    <input formControlName="vaccWhen" class="input" type="date" id="when " name="when” ">
                    <br>
                    <br>
                    <br>

                </form>

                <div class="navCont center" style="margin-top: 10%;">
                    <a routerLink="/skills" style="margin: 5%;"><img src="../../assets/media/Previous.png" class="radio" (click)="saveInfo()"></a>

                    <a routerLink="/personal" style="margin: 5%;"><img src="../../assets/media/Ellipse 1.png" class="radio" (click)="saveInfo()"></a>
                    <a routerLink="/skills" style="margin: 5%;"><img src="../../assets/media/Ellipse 1.png" class="radio" (click)="saveInfo()"></a>
                    <a routerLink="/covid" style="margin: 5%;"><img src="../../assets/media/Ellipse 1.png" class="radio" (click)="saveInfo()"></a>
                    <a routerLink="/insights" style="margin: 5%;"><img src="../../assets/media/Ellipse 2.png" class="radio" (click)="saveInfo()"></a>
                    <a routerLink="/end" style="margin: 5%;"><img src="../../assets/media/Ellipse 2.png" class="radio" (click)="saveInfo()"></a>

                    <a routerLink="/insights" style="margin: 5%;"><img src="../../assets/media/Next.png" class="radio" (click)="saveInfo()"></a>
                </div>
            </div>
        </div>
    </div>


    <div class="split right">
        <div class="centered">
            <div class="center column">
                <h1 class="head center" style="margin-top: 15%;">Redberry Covid Policies</h1>
                <p class="text ">As this infamous pandemic took over the world, we adjusted our working practices so that our employees can be as safe and comfortable as possible. We have a hybrid work environment, so you can either work from home or visit our lovely
                    office on Sairme Street. If it was up to us, we would love you to see us in the office because we think face-to-face communications > Zoom meetings. Both on the fun and productivity scales. </p>

            </div>
        </div>
    </div>
</div>