<div class="split left">
    <div class="centered">
        <div class="center column ">
            <h1 class="head" style="margin-top: 15%;">Tell us about your skills</h1>
            <form form [formGroup]="form">

                <select formControlName="language" class="form-select input" aria-label="Default select example">
                    <option  *ngFor="let i of lang" >{{i}}</option>
                    
                </select>
                <br>
                <input class="skillInput input" style="padding: 5%;" formControlName="exp" type="number" id="year " name="year " placeholder="Experience Duration in Years">
                <br>
                <br>

                <button class="skillButton button" type="submit" (click)="addSkill()" style="margin-left: 56%;">Add Programming Language</button>
                <br>
                <br>
                <br>
                <div class="skillCont">
                    <div class="center column ">
                        <div class="toDoListContainer">
                            <ul class="skillList list-group ">
                                <li *ngFor="let e of data2" class="input">
                                    {{e.language + " " + " Years of experience: " + e.exp}}
                                    <a (click)="remove(e.exp)"><img src="../../assets/media/Remove.png" alt="remove" class="radio"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>

            <div class="navCont center">
                <a routerLink="/personal" style="margin: 5%;"><img src="../../assets/media/Previous.png" class="radio"></a>

                <a routerLink="/personal" style="margin: 5%;"><img src="../../assets/media/Ellipse 1.png" class="radio"></a>
                <a routerLink="/skills" style="margin: 5%;"><img src="../../assets/media/Ellipse 1.png" class="radio"></a>
                <a routerLink="/covid" style="margin: 5%;"><img src="../../assets/media/Ellipse 2.png" class="radio"></a>
                <a routerLink="/insights" style="margin: 5%;"><img src="../../assets/media/Ellipse 2.png" class="radio"></a>
                <a routerLink="/end" style="margin: 5%;"><img src="../../assets/media/Ellipse 2.png" class="radio"></a>

                <a routerLink="/covid" style="margin: 5%;"><img src="../../assets/media/Next.png" class="radio"></a>
            </div>
        </div>
    </div>
</div>


<div class="split right ">
    <div class="centered ">
        <div class="center column ">
            <h1 class="head ">A bit about our battles</h1>
            <p class="text ">As we said, Redberry has been on the field for quite some time now, and we have touched and embraced a variety of programming languages, technologies, philosophies, and frameworks. We are battle-tested in PHP Laravel Stack with Vue.js, refined
                in React, and allies with Serverside technologies like Docker and Kubernetes, and now we have set foot in the web3 industry.</p>

        </div>
    </div>
</div>