<!-- <div class="skillCont">
    <div class="center column ">
        <div class="toDoListContainer">
            <ul class="list-group unstyled" style=" list-style-type: none; padding:0; margin: 0;">
                <li *ngFor="let e of data1" class="input" style="margin-left: -5%; margin-bottom: 5%; padding-left: 8%; padding-bottom: 4%; display: flex;">
                    {{e.language + "; " + " Years of experience: " + e.exp}}
                </li>
            </ul>
        </div>
    </div>
</div>
 -->
<div class="center column">
    <div class="listCont">
        <h1 class="head" style="margin-top: 8%; margin-bottom: 10%;">Submitted Applications</h1>
        <button class="skillButton button" type="submit" (click)="logTest()" style="margin-left: 51%;">Add Programming Language</button>

    </div>
</div>