<div class="split left">
    <div class="centered">
        <div class="center column ">
            <h1 class="head center" style="margin-top: 15%;">What about you?</h1>
            <form>
                <p>Would you attend Devtalks and maybe also organize your own?</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        No
                    </label>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">What would you speak about at Devtalk?</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder=" 
    I would..."></textarea>
                </div>
                <br>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Tell us something special</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder=""></textarea>
                </div>
                <br>


            </form>
            <div class="navCont center">
                <a routerLink="/covid" style="margin: 5%;"><img src="../../assets/media/Previous.png" class="radio"></a>

                <a routerLink="/personal" style="margin: 5%;"><img src="../../assets/media/Ellipse 1.png" class="radio"></a>
                <a routerLink="/skills" style="margin: 5%;"><img src="../../assets/media/Ellipse 1.png" class="radio"></a>
                <a routerLink="/covid" style="margin: 5%;"><img src="../../assets/media/Ellipse 1.png" class="radio"></a>
                <a routerLink="/insights" style="margin: 5%;"><img src="../../assets/media/Ellipse 1.png" class="radio"></a>
                <a routerLink="/end" style="margin: 5%;"><img src="../../assets/media/Ellipse 2.png" class="radio"></a>

                <a routerLink="/end" style="margin: 5%;"><img src="../../assets/media/Next.png" class="radio"></a>
            </div>
        </div>
    </div>
</div>


<div class="split right ">
    <div class="centered ">
        <div class="center column">
            <h1 class="head" style="margin-top: 25%;">Redberrian Insights</h1>
            <p class="text">We were soo much fun before the pandemic started! Parties almost every weekend and lavish employee birthday celebrations! Unfortunately, covid ruined that fun like it did almost everything else in the world. But we try our best to zhuzh it
                up a bit. For example, we host biweekly Devtalks where our senior and lead developers talk about topics they are passionate about. Previous topics have included Web3, NFT, Laravel 9, Kubernetes, etc. We hold these talks in the office but
                you can join our Zoom broadcast as well. Feel free to join either as an attendee or a speaker!</p>

        </div>
    </div>
</div>